  pixmap_path "/usr/share/themes/Cheese/gtk"
  style "main_button" = "button"
   {
     font = "-adobe-helvetica-medium-r-normal--*-10-*-*-*-*-*-*"
     bg[PRELIGHT] = { 0.0, 0.0, 1.0 }
     bg[ACTIVE] = { 1.0, 0.0, 0.0 }
     bg[NORMAL] = {1,1,1}
#     bg_pixmap[ACTIVE] = "cheese-dark.xpm"
   }

   style "window"
    {
      #This sets the padding around the window to the pixmap specified.
      #bg_pixmap[<STATE>] = "<pixmap filename>"
#      bg_pixmap[NORMAL] = "cheese-dark.xpm"
      bg[NORMAL] = { 0.75, 0.25, 0.0 }
    }

   widget "*MP RootWin*Surface*" style "window"
#   widget "MP RootWin.VBox.Surface.MPChart001" style "window"
#   widget "MP RootWin*" style "window"
