<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.exercise.Biond"
	  android:versionCode="1"
	  android:versionName="1.0">
  
<application android:name=".BiondApp"
       android:icon="@drawable/icon"
       android:label="@string/app_name"
       android:debuggable="true"
       >

  <!-- <application -->
  <!--     android:icon="@drawable/icon" -->
  <!--     android:label="@string/app_name" -->
  <!--     android:debuggable="true"> -->
    
    <receiver android:name=".BiondWidgetProvider" >
      <intent-filter>
	<action 
	    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
      	  android:name="android.appwidget.provider"
      	  android:resource="@xml/biondwidgetproviderinfo" />
    </receiver>
    
    <service android:name=".MyBatteryService" android:label="SBBatteryMonitor">
      <intent-filter>
	<action android:name="android.intent.action.BATTERY_CHANGED" />
      </intent-filter>
    </service>
    
    <service android:name=".MyScreenService" android:label="SBScreenMonitor">
      <intent-filter>
	<action android:name="android.intent.action.SCREEN_ON" />
      </intent-filter>
      <intent-filter>
	<action android:name="android.intent.action.SCREEN_OFF" />
      </intent-filter>
    </service>
    
    <!-- <service android:name=".MyBatteryReceiver" android:label="MyBatteryReceiver"> -->
    <!--   <intent-filter> -->
    <!-- 	<action android:name="android.intent.action.BATTERY_CHANGED" /> -->
    <!--   </intent-filter> -->
    <!--   <intent-filter> -->
    <!-- 	<action android:name="com.exercise.battery.CLICKED" /> -->
    <!--   </intent-filter> -->
    <!-- </service> -->
    
    <!-- <activity android:name=".BatteryWidgetActivity" -->
    <!-- 	      android:label="@string/app_name"> -->
    <!--   <intent-filter> -->
    <!-- 	<action android:name="android.intent.action.MAIN" /> -->
    <!-- 	<category android:name="android.intent.category.LAUNCHER" /> -->
    <!--   </intent-filter> -->
    <!-- </activity> -->
    
  </application>
  <uses-sdk android:minSdkVersion="4" />
  <uses-sdk android:targetSdkVersion="14" />
</manifest>
